@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap');
$accent: #b53471;
$white: #f1e8e8;
$white-main: #e6e6fa;
$red: #8b2d3d;
$black: darken($accent, 35%);
$hard-dark-accent: darken($accent, 30%);
$dark-accent: darken($accent, 15%);

// $bx-accent: 0 4px 4px rgba($accent, 0, 25);
$bx-16: 0 3px 6px rgba(0, 0, 0, 0.16);

$default-font: 'Montserrat', sans-serif;

$mobile: 480px;
