@import '../styles/_variables';
#root {
	max-width: 1280px;

	font-family: $default-font;
	line-height: 1.5;
	font-weight: 400;
}

body {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	color: $white-main;
	background-color: #242424;
}
h1 {
	font-size: 3.2em;
	line-height: 1.1;
}
